body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 1rem; 
    background-color: #170034;
    color: rgb(244, 238, 238);
}
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem; 
    padding: 0.3rem 0.8rem;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    border: 2px solid rgb(10, 10, 10);
    border-radius: 5px;
}

.edit{
    font-size: 2.5rem; 
    color: #070707;
    text-align: center;
    font-weight: bolder;
}
.karo{
    font-size: 2.5rem;
    color: #8909c4;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}
img.logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    max-width: 120px; 
}
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    padding: 0.4rem 0.8rem;
    border: none;
    background-color: #e90707;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #101014b3;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap; 
}

.content {
    max-width: 45%;
}


h1 {
    font-size: 2.5rem; 
    color: #fafafa;
    text-align: center;
    font-weight: bolder;
}

.disc{
    padding-top:  13px;
    display: block;
    font-size: 1.3rem;
    color: #252424;
}


.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-links img {
    width: 30px;
    margin-right: 10px;
    padding: 0.3rem;
}


.mockup {
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}


.desktop {
    width: 450px; 
    filter: drop-shadow(0 0 12px #3af);
    height: auto;
}
.eform {
    width: 100%;
    height: auto;
    z-index: 1;
    display: block;

    /* filter: drop-shadow(0 0 10px #3af); */

}
#subscribeForm {
  left: 0;
  right: 0;
}

.mobile {
    width: 200px; 
    position: absolute;
    right: 10px;
    bottom: -20px;
    filter: drop-shadow(0 0 10px #3af); }


@media (max-width: 768px) {
  .mockup {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .desktop {
    width: 100%;
    max-width: 320px;
  }

      .mobile {
        width: 180px;
        position: relative;
        bottom: auto;
        right: 17px;
        margin-top: -171px;
    }
  .content {
    max-width: 100%;
    text-align: center;
    padding: 0 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}
